<!-- <div class="container-fluid contact-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center ">
                <div>
                    <h2 >Want to know how I work and what I can offer?</h2>
                </div>
            </div>
            <div class="col-md-6">
                <p >
                    Whether you have a specific project in mind or want to discuss how we can capture your moments, we're here to make it happen. Contact us today, and let's start creating memories together.
                </p>
                <hr class="full-width-hr">
                <h5 class="text-center">Contact Me</h5>
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <span><i class="fa fa-envelope"></i> kaseymartin&#64;gmail.com</span>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="https://www.facebook.com" target="_blank" class="social-icon mx-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.twitter.com" target="_blank" class="social-icon mx-2"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com" target="_blank" class="social-icon mx-2"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.github.com" target="_blank" class="social-icon mx-2"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container-fluid py-5 about-section">
    <div class="container ">
        <h2 class="text-uppercase get">Get in Touch</h2>
        <hr class="full-width-hr">
        <div class="row">
            <div class="col-md-6">
                <h3 class="cont1">Want to know how I work and what I can offer?</h3>
                <p class="conttwo">
                    Whether you have an exciting project idea or need help solving a coding challenge, let's bring your vision to life. Reach out today, and let's collaborate to build something exceptional together.                </p>
            </div>
            <div class="col-md-6 contact-details">
                <h3 class="text-center conthree">Connect for Projects</h3>
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <a href="mailto:victoriyaashalini01@gmail.com" class="mail d-flex align-items-center">
                      <i class="fas fa-envelope mr-2"></i>
                      victoriyaashalini01&#64;gmail.com
                    </a>
                  </div>
                <div class="d-flex justify-content-center social-icons">
                    <a href="https://www.whatsapp.com" target="_blank" class="social-icon mx-2"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com" target="_blank" class="social-icon mx-2"><i class="fab fa-instagram"></i></a>                    
                    <a href="https://www.linkedin.com/in/victoriyashalini/" target="_blank" class="social-icon mx-2"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.github.com" target="_blank" class="social-icon mx-2"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

