<div class="container mt-5">
	<div class="row">
	  <div class="col-md-4">
		<img src="../../../assets/images/freepik-export-20240619114346aOZT.png" class="img-fluid img-thumbnail" alt="Geraldine DeRuiter">
	  </div>
	  <div class="col-md-8">
		<h2 class="abouthe">About the developer</h2>
		<p class="abouttext">Fullstack developer based in Trichy, Tamilnadu. I specialize in crafting user-friendly and captivating designs that stand out from the crowd. I completed my BCA in 2019 at Seethalakshmi Ramaswamy College, Trichy.</p>
		<button class="btn btn-primary mt-1">Download CV</button>
		<table class="table mt-3">
		  <thead>
			<tr>
			  <th>#</th>
			  <th>Company</th>
			  <th>Position</th>
			  <th>Year</th>
			</tr>
		  </thead>
		  <tbody>
			<tr>
			  <td>1</td>
			  <td>Ayshwarya Syndicate Souharda Limited, Bangalore</td>
			  <td>Data Entry Specialist</td>
			  <td>2020-22</td>
			</tr>
			<tr>
			  <td>2</td>
			  <td>Mediawave Technologies, Chennai</td>
			  <td>Front end developer (internship)</td>
			  <td>2023-24</td>
			</tr>
		  </tbody>
		</table>
	  </div>
	</div>
  </div>
<app-skills></app-skills>  