.container {
	background-color: #f8f9fa;
	padding: 20px;
	border-radius: 5px;
  }
  .abouthe{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: black;

  }
  .abouttext{
	font-family: 'Merriweather', serif;
font-size: 18px;
color: #525050;
  }
  h2 {
	color: #4a4a4a;
  }
  
  blockquote {
	border-left: 5px solid #4a4949;
	padding-left: 15px;
  }
 .fullstack{
	font-size: 18px;
	font-family: 'Merriweather', serif;

  }
  table{
	font-family: 'Merriweather', serif;
	font-size: 18px;


  }
  
  table tr th{
	color: rgb(18, 20, 71);
  }
  .about-img {
	
	max-height: 300px;
	height: 200px; /* Adjust the max height as needed */
  }
  

