.custom-nav {
	margin-right: 60px; /* Adjust this value to move the nav links left */
  }
  .nav-link{
    font-family: "Nunito Sans", sans-serif;
    font-size: clamp(16px, 1.5vw + 16px, 18px);
	color: white;
  }
 .navbar{
	background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
 }
 .navbar-brand{
	color: white;
	margin-left: 40px;
  font-family: "Nunito Sans", sans-serif;

 }
 .navbar-nav .nav-item .dropdown-toggle::after {
    display: none;
  }
  .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}
.navbar-toggler {
    border: none !important;
    background-color: transparent !important;
}
