<div class="container-fluid home">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="text-container">
          <p><span class="hello">Hello,</span><br><span class="name">I'm Victoriya Shalini</span><br><span class="fulstak">FULLSTACK DEVELOPER</span></p>
          <p class="textbrief">As a MEAN full-stack developer, some of my vital areas are Angular, MongoDB, Express, and Node.js.<br>I have an excellent background working on developing and supporting web applications to ensure a smooth user experience and stable performance.</p>
          <a href="mailto:victoriyaashalini01@gmail.com" class="btn btn-outline-secondary ml-auto custom-button">Send me a message
            <svg xmlns="http://www.w3.org/2000/svg" id="Bold" viewBox="0 0 24 24" width="30" height="30">
              <path d="M17.061,9.525,13.475,5.939a1.5,1.5,0,0,0-2.121,2.122L13.793,10.5H5a1.5,1.5,0,0,0,0,3h8.793l-2.439,2.439a1.5,1.5,0,0,0,2.121,2.122l3.586-3.586A3.505,3.505,0,0,0,17.061,9.525Z"/>
            </svg>
          </a>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="image-container">
          <img src="../../../assets/images/6184437_3099563.jpg" alt="" style="max-width: 70%; height: auto;" class="img-welcome">
        </div>
      </div>
    </div>
  </div>
  
<app-about></app-about>
<app-projects></app-projects>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
