.projects {
  background-color: #ffffff;
  padding: 20px;
}

.projects h2 {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 30px;
  font-size: 1.75rem;
  font-weight: 700;
  color: rgb(51, 54, 54);
}

@media (min-width: 768px) {
  .projects h2 {
    font-size: 2rem;
  }
}

.project-tile {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  height: 300px;
  border-radius: 15px;
  transition: transform 0.3s ease-out;
}

.project-content {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  border-radius: inherit;
}

.project-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: rgb(4, 3, 3);
  padding: 20px;
  border-radius: inherit;
  text-align: center;
  border: 2px solid #14d337;
  z-index: 2;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out; /* Smooth transition added */
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease-out, transform 0.4s ease-out; /* Smooth transition added */
  border-radius: inherit;
  z-index: 1;
}

.project-content:hover .project-text {
  opacity: 0;
  transform: translateY(-100%);
}

.project-content:hover .project-info,
.project-info.hovered {
  opacity: 1;
  transform: translateY(0%);
  border: 2px solid #14d337;
}

.project-title {
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Josefin Sans", sans-serif;

}

.project-description {
  font-size: 0.9rem;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;

}

.btn-primary {
  margin-top: 15px;
  font-family: 'Nunito', sans-serif;
  background-color: #50eb55;
  color: black;
  font-weight: bold;
  border: none;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .project-tile {
    height: 250px;
  }

  .project-title {
    font-size: 1.2rem;
  }

  .project-description {
    font-size: 0.85rem;
  }
}

@media (max-width: 992px) {
  .project-tile {
    height: 200px;
  }

  .project-title {
    font-size: 1.1rem;
  }

  .project-description {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .project-tile {
    height: 180px;
  }

  .project-title {
    font-size: 1rem;
  }

  .project-description {
    font-size: 0.75rem;
  }
}

@media (max-width: 576px) {
  .project-tile {
    height: 160px;
  }

  .project-title {
    font-size: 0.9rem;
  }

  .project-description {
    font-size: 0.7rem;
  }

  .project-info {
    padding: 10px;
  }
}
