.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.progress {
  height: 23px;
}

.progress-bar {
  line-height: 20px;
}

.skill {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 30px;
  font-size: 1.75rem; /* Default font size for h2 */
  font-weight: 700;
color: rgb(51, 54, 54);
}

.develop {
  margin-top: 7rem;
}

.skills {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Ensure space around progress bars */
}

.accor {
  font-family: 'Nunito', sans-serif;
}

.accordion-button::after {
  transition: transform 0.3s ease;
  font-size: 0.75em;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(180deg);
  font-size: 0.75em; /* Ensure the size is consistent when rotated */
}

.accordion-button {
  background-color: #221645;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 15px;
  font-weight: bold;
}

.accordion-body {
  padding: 20px;
  background-color: #c2d6da;
  color: #000000; /* Set your desired text color */
  border: 1px solid #ddd; /* Optional: add a border for better visual separation */
  border-top: none;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
}

.progress-bar {
  text-align: left;
  padding-left: 10px;
  font-family: 'Nunito', sans-serif;
  background-color: #221645;
  transition: width 2s ease-in-out;
}

button:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 767px) {
  .bar {
      margin-top: 40px;
  }

  .progress {
      height: 20px;
  }

  .skills .col-md-6 {
      margin-bottom: 20px;
  }
}

@keyframes slideDown {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.skills {
  animation: slideDown 0.5s ease-out;
}

.accordion-button {
  background-color: transparent;
  border: none;
  color: inherit;
}

.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: #140d3d; /* Set your desired background color */
  color: white;
}

.accordion-item {
  border: none;
}

.accordion-body {
  border-top: none;
}

.progress {
  background-color: transparent;
}
@media (min-width: 768px) {
  .skill {
    font-size: 2rem; /* Larger font size for h2 on medium and larger screens */
  }

 
}

