<div class="container develop">
    <h2 class="text-center skill">Areas of Expertise</h2>
    <div class="row skills">
        <div class="col-md-6 mb-3">
            <div ngbAccordion [closeOthers]="true" activeIds="ngb-panel-0">
                <div ngbAccordionItem="first">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Innovative Design & Development</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                I specialize in crafting clean, modern designs optimized for performance, search engines, and user conversion. Solution focus that meets the client's requirement ideally and a complete user experience.
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem="second">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Comprehensive Solutions</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                I do deliver solutions from concept to deployment. I take utmost care and diligent attention to every project detail to provide seamless and integrated end products.
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div ngbAccordionItem="third">
                    <h2 ngbAccordionHeader>
                        <button ngbAccordionButton>Seamless Responsiveness</button>
                    </h2>
                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                Responsive design is something that I build, making the website available on all kinds of devices. My goal is to ensure a seamless user experience, whether on a desktop, tablet, or mobile.
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 bar">
            <div class="progress mb-3">
                <div class="progress-bar bg-danger javascript" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">JAVASCRIPT</div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar angular" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">ANGULAR</div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar bg-danger expressjs" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">EXPRESS JS</div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar nodejs" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">NODE.JS</div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar bg-danger mongodb" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">MONGODB</div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar mysql" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">MY SQL</div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar bg-danger postman" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">POSTMAN</div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar github" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">GITHUB</div>
            </div>
        </div>
    </div>
</div>
